/*
	
		file: css/application.css
*/
/*
	Gyaku
		file: css/gyaku.css
*/
/*
	= Appendix
		I. Reset
		II. 1140px Grid
*/
/*
	I. Reset
		HTML5 Reset Stylesheet by HTML5 Doctor (http: //coo.ly/iEv)
*/
/* line 26, /var/www/base/css/src/gyaku.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

/* line 36, /var/www/base/css/src/gyaku.scss */
body {
  line-height: 1;
}

/* line 41, /var/www/base/css/src/gyaku.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 45, /var/www/base/css/src/gyaku.scss */
nav ul {
  list-style: none;
}

/* line 49, /var/www/base/css/src/gyaku.scss */
blockquote, q {
  quotes: none;
}

/* line 53, /var/www/base/css/src/gyaku.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 58, /var/www/base/css/src/gyaku.scss */
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 66, /var/www/base/css/src/gyaku.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 72, /var/www/base/css/src/gyaku.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 79, /var/www/base/css/src/gyaku.scss */
del {
  text-decoration: line-through;
}

/* line 83, /var/www/base/css/src/gyaku.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 88, /var/www/base/css/src/gyaku.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 93, /var/www/base/css/src/gyaku.scss */
hr {
  border: 0;
  border-top: 1px solid #cccccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/* line 102, /var/www/base/css/src/gyaku.scss */
input, select {
  vertical-align: middle;
}

/*
	II. 1140px Grid
		1140px Grid by Andy Taylor (http://coo.ly/pGu)
*/
/* line 112, /var/www/base/css/src/gyaku.scss */
#contain {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 117, /var/www/base/css/src/gyaku.scss */
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 125, /var/www/base/css/src/gyaku.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

/* line 131, /var/www/base/css/src/gyaku.scss */
.row .onecol {
  width: 4.85%;
}

/* line 135, /var/www/base/css/src/gyaku.scss */
.row .twocol {
  width: 13.45%;
}

/* line 139, /var/www/base/css/src/gyaku.scss */
.row .threecol {
  width: 22.05%;
}

/* line 143, /var/www/base/css/src/gyaku.scss */
.row .fourcol {
  width: 30.75%;
}

/* line 147, /var/www/base/css/src/gyaku.scss */
.row .fivecol {
  width: 39.45%;
}

/* line 151, /var/www/base/css/src/gyaku.scss */
.row .sixcol {
  width: 48%;
}

/* line 155, /var/www/base/css/src/gyaku.scss */
.row .sevencol {
  width: 56.75%;
}

/* line 159, /var/www/base/css/src/gyaku.scss */
.row .eightcol {
  width: 65.4%;
}

/* line 163, /var/www/base/css/src/gyaku.scss */
.row .ninecol {
  width: 74.05%;
}

/* line 167, /var/www/base/css/src/gyaku.scss */
.row .tencol {
  width: 82.7%;
}

/* line 171, /var/www/base/css/src/gyaku.scss */
.row .elevencol {
  width: 91.35%;
}

/* line 175, /var/www/base/css/src/gyaku.scss */
.row .twelvecol {
  width: 100%;
  float: left;
}

/* line 180, /var/www/base/css/src/gyaku.scss */
.last {
  margin-right: 0px;
}

/* line 184, /var/www/base/css/src/gyaku.scss */
img, object, embed {
  max-width: 100%;
}

/* line 188, /var/www/base/css/src/gyaku.scss */
img {
  height: auto;
}

@media only screen and (max-width: 1023px) {
  /* line 193, /var/www/base/css/src/gyaku.scss */
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
@media handheld, only screen and (max-width: 767px) {
  /* line 200, /var/www/base/css/src/gyaku.scss */
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

  /* line 205, /var/www/base/css/src/gyaku.scss */
  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 214, /var/www/base/css/src/gyaku.scss */
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*
	= Appendix
		I. Media Queries
		II.
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* Handheld devices. */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 4 */
}
/*
	II. 
*/
